.video-suggestion-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #2a2b38;
  padding: 10px;
}

.video-suggestion-container > div {
  background: #2a2b38;
  /* border: 1px solid black; */
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.video-suggestion-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #3a3b4c;
  color: white;
  border: none;
  cursor: pointer;
}

.video-suggestion-button div {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}